@model AG.Data.Models.Tweet

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Tweet</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            <DisplayName>Username</DisplayName>
        </dt>

        <dd>
            @Html.DisplayFor(model => model.user.userName)
        </dd>

        <dt>
            <DisplayName>Message</DisplayName>
        </dt>

        <dd>
            @Html.DisplayFor(model => model.message)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.tweetId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
